@font-face {
    font-family:"Anjoman";
    src:
    local("Anjoman")
     url('../Styles/fonts/Anjoman/Anjoman-Black.ttf') format('ttf'),
    url('../Styles/fonts/Anjoman/Anjoman-Condensed.ttf') format('ttf')
    ;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    direction: rtl;
    box-sizing: border-box;
   
}
*{
    font-family: Anjoman-Black , 'Anjoman';
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
/* html , body{
    width: 100vw;
    height: 100vh;
} */
:root{
--homeText:#000000;
--homeafter:#00A752;
--homeSec2textBG:#1F1F1F;
--white:#FFFFFF;
--homeSec6text:#373435;
--footer:#1F1F1F
}
/*-------------------------------home page styles----------------------- */
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*------------------------- section one------------------------------- */
.container #sec1{
    width: 100vw;
    height: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.container #sec1 .one {
    width:100%;
    height: 100%;
    background-image: url('../Assets/Pictures/Home/1.png');
    background-repeat: no-repeat;
    background-position:1% 38%;
    background-size: cover;
    display: flex;
    background-origin: border-box;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    position: relative;
    background-blend-mode: overlay;
}

.container #sec1 .one header{
    width: 80%;
    height: 10%;
    display: grid;
    grid-template-columns:1fr 6fr;

}
.container #sec1 .one header nav{
width: 100%;
height: 100%;
}
.container #sec1 .one header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
   
    margin-top: -0.8rem;
}
.container #sec1 .one header nav ul li{
    list-style-type: none;
    padding-left: 2rem;
}
.container #sec1 .one header nav ul li a{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Anjoman';
    color: var(--homeText);
    line-height: 25.1px;
}
.container #sec1 .one header .logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}
.container #sec1 .one .row1{
 position: absolute;
 top: 0;
 left: 0;
 width: 20%;
 height: 100%;
 background: linear-gradient(-87deg, transparent 0%, #c7b99b 100%);
 display: flex;
 justify-content: center;
 align-items: center;
}
.container #sec1 .one .row2{
    width: 100%;
    height: 20%;
    background: linear-gradient(178deg, transparent 36%, #c7b99b 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.container #sec1 .one .row2 .title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container #sec1 .one .row2 .title h3{
    font-size: 34px;
    font-weight: 900;
    margin: 0;
  
}
.container #sec1 .one .row2 .title h3::after{
    content: '';
    position: absolute;
    top: 61%;
    width: 3px;
    height: 38%;
    left: 22.1%;
    border-radius: 3px;
    background-color: var(--homeafter);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/*------------------------- section two------------------------------- */
.container #sec2{
    width: 100vw;
    height: 786px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 5rem;
}
.container #sec2 .two{
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Pictures/Home/post2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    
}
.container #sec2 .two .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(157deg, transparent 20%, #222226 100%);

}
.container #sec2 .two .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container #sec2 .two .content .textBox{
    width: 511px;
    height: 544px;
    background-color:var(--homeSec2textBG) ;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container #sec2 .two .content .textBox .title{
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.container #sec2 .two .content .textBox .title h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 46.87px;
    color: var(--white);
    margin: 0;
}
.container #sec2 .two .content .textBox .title::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 80%;
    right: -3%;
    border-radius: 3px;
    background-color: var(--homeafter);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.container #sec2 .two .content .textBox .text{
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
}
.container #sec2 .two .content .textBox .text p{
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
    line-height: 30.13px;
}
.container #sec2 .two .content .textBox .btn{
   width: 100%;
   display: flex;
   justify-content:flex-end;
}
.container #sec2 .two .content .textBox .btn button{
    width: 110px;
    height: 51px;
    border: 2px solid var(--homeafter);
    background-color: transparent;
    margin-left: 2.5rem;
}
.container #sec2 .two .content .textBox .btn button a{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

/*------------------------- section three------------------------------- */
.container #sec3{
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 5rem;
   
}
.container #sec3 .three{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container #sec3 .three .row1,
.container #sec4 .four .row1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #sec3 .three .row1 h2,
.container #sec4 .four .row1 h2{
   margin: 0;
   font-size: 28px;
   font-weight: 700;
   line-height: 46.87px;
   font-family: anjoman , 'anjoman';
 
   position: relative;
}
.container #sec3 .three .row1 h2::after,
.container #sec4 .four .row1 h2::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 104px;
    bottom: -160%;
    transform: rotate(90deg);
    right: 48%;
    border-radius: 3px;
    background-color: var(--homeafter);
    -webkit-border-radius: 3px;
    top: 0;
}
.container #sec3 .three .row2{
    width: 100%;
    height: 100%;
    display: flex;

}
.container #sec3 .three .row2 .products{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:5fr 5fr ;
  margin-top: 4rem;
}
.container #sec3 .three .row2 .products .productBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}
.container #sec3 .three .row2 .products .productBox .productImage{
   width: 100%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
   object-fit: contain;
}
.container #sec3 .three .row2 .products .productBox .productImage img{
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}
.container #sec3 .three .row2 .products .productBox .productName{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #sec3 .three .row2 .products .productBox .productName p{
    font-size: 20px;
    color: var(--homeText);
    font-weight: 600;
}
.container #sec3 .three .row3{
    width: 100%;
    height: 5rem;
   
} 
.container #sec3 .three .row3 .productALLbtn,
.container #sec4 .four .projects .projectALLbtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #sec3 .three .row3 .productALLbtn button,
.container #sec4 .four .projects .projectALLbtn button{
   padding:.8rem 1rem ;
  background-color: transparent;
  border: 1px solid var(--homeafter);
}
.container #sec3 .three .row3 .productALLbtn button a,
.container #sec4 .four .projects .projectALLbtn button a{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 100%;
     color: var(--homeText);
     font-size: 16px;
     font-weight: 500;
     line-height: 26.78px;
  
}
.container #sec3 .three .row3 .productALLbtn button a img,
.container #sec4 .four .projects .projectALLbtn button a img{
width: 23px;
height: 11.4px;
}


/*------------------------- section four------------------------------- */
.container #sec4 .four .row1 .projectTitle{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.container #sec4{
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 5rem;
}
.container #sec4 .four{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container #sec4 .four .projects{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin-top: 4rem;
    
}
.container #sec4 .four .projects .project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    position: relative;
}
.container #sec4 .four .projects .project.right{
   align-items: flex-start;
}
.container #sec4 .four .projects .project.left{
    align-items: flex-end;
}
.container #sec4 .four .projects .project .projectImage{
    width: 55%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.container #sec4 .four .projects .project .projectImage img{
    max-width: 100%;
 width: 100%;
 height: 100%;
}
.container #sec4 .four .projects .project .projectName{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container #sec4 .four .projects .project .projectName h3{
    font-size: 26px;
    font-weight: 600;
    color: var(--homeText);
    position: absolute;
    margin: 0;
}
.container #sec4 .four .projects .project .projectName h3.right{
    left: 48%;
    transform: translateY(-208%);
    -webkit-transform: translateY(-208%);
    -moz-transform: translateY(-208%);
    -ms-transform: translateY(-208%);
    -o-transform: translateY(-208%);
}
.container #sec4 .four .projects .project .projectName h3.left{
    left: 8%;
    transform: translateY(-208%);
    -webkit-transform: translateY(-208%);
    -moz-transform: translateY(-208%);
    -ms-transform: translateY(-208%);
    -o-transform: translateY(-208%);
    color: var(--white) !important;
}
.container #sec4 .four .projects .project .projectName h3::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    bottom: -160%;
    transform: rotate(90deg);
    right: 48%;
    border-radius: 3px;
    background-color: var(--homeafter);
    -webkit-border-radius: 3px;
    top: -125%;
}


/*------------------------- section five------------------------------- */

.container #sec5{
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}
.container #sec5 .five{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.container #sec5 .five video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.container #sec5 .five .videoControl{
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
top: 0;
left: 0;
align-items: center;
}
.container #sec5 .five .videoControl #PlayPuase{
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.container #sec5 .five .videoControl #PlayPuase:hover{
    cursor: pointer;
}

/*------------------------- section six------------------------------- */
.container #sec6{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.container #sec6 .six{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.container #sec6 .six .posts{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
}
.container #sec6 .six .posts .post{
    width: 339px;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container #sec6 .six .posts .post .postImage{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.container #sec6 .six .posts .post .postImage img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.container #sec6 .six .posts .post .postTitle{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container #sec6 .six .posts .post .postTitle h3{
    font-size: 16px;
    color: var(--homeText);
    padding-right: 1vw;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 5.5vh;
}
.container #sec6 .six .posts .post .postDetail{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
}
.container #sec6 .six .posts .post .postDetail p{
    padding: 0 1vw;
    font-size: 16px;
    font-weight: 500;
    color: var(--homeSec6text);
}
.container #sec6 .six .posts .post .postBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container #sec6 .six .posts .post .postBtn button{
    background-color: transparent;
    border-bottom: 2px solid var(--homeafter);
    border-top: none;
    border-left: none;
    border-radius: 2px;
    border-right: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: .3rem;
}
.container #sec6 .six .posts .post .postBtn button:hover{
    cursor: pointer;
}
/*------------------------- section seven     footer------------------------------- */
.container #sec7{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
}
.container #sec7 .footer{
    width: 100%;
    height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 3fr 1fr;
   gap: 15px;


}
.container #sec7 .footer .row1{
    width: 80%;
height: 100%;
    display: grid;
    grid-template-columns:1fr 3fr 3fr 1fr ;
    grid-template-rows: auto;
    justify-self: center;

}
.container #sec7 .footer .row2{
    width: 90%;
  
}
.container #sec7 .footer .row1 .col1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container #sec7 .footer .row1 .col1 .logo{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    margin-top: 2rem;
    border-left: 1px solid var(--white);
}
.container #sec7 .footer .row1 .col2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}
.container #sec7 .footer .row1 .col2 ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10%;
    align-items: flex-end;
}
.container #sec7 .footer .row1 .col2 ul li{
    list-style-type: none;
    padding: 0 3%;
}
.container #sec7 .footer .row1 .col2 ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.container #sec7 .footer .row1 .col3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.container #sec7 .footer .row1 .col3 .contactAdress{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: column;
}
.container #sec7 .footer .row1 .col3 .contactAdress p{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    width: 100%;
    margin: 0;
    padding-top: 1%;
   
}
.container #sec7 .footer .row1 .col3 .contactPhone{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    transform:translateY(-18%) ;
    -webkit-transform:translateY(-18%) ;
    -moz-transform:translateY(-18%) ;
    -ms-transform:translateY(-18%) ;
    -o-transform:translateY(-18%) ;
}
.container #sec7 .footer .row1 .col3 .contactPhone span:nth-child(1){
    width: 7%;
}
.container #sec7 .footer .row1 .col3 .contactPhone a{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}
.container #sec7 .footer .row1 .col3 .contactPhone span:nth-child(2){
    width: 10px;
    height: 1px;
    background-color: var(--white);
}
.container #sec7 .footer .row1 .col4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
}
.container #sec7 .footer .row1 .col4 .socials{
    margin-bottom: 16%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.container #sec7 .footer .row1 .col4 .socials img{
    margin: 25% 0;
}
.container #sec7 .footer .row2{
    width: 90%;
    height: 100%;
    justify-self: center;
    display: flex;
    border-top: 1px solid var(--white);
    justify-content: center;
    align-items: center;
}
.container #sec7 .footer .row2 .col1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.container #sec7 .footer .row2 .col1 p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}
.container #sec7 .footer .row2 .col2 p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}
.container #sec7 .footer .row2 .col2{
    width: 50%;
    display: flex;
    transform: translateX(13%);
    justify-content: flex-end;
    -webkit-transform: translateX(13%);
    -moz-transform: translateX(13%);
    -ms-transform: translateX(13%);
    -o-transform: translateX(13%);
}


/*------------------------------ cat product page----------------------------------- */
.catProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catProduct section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.catProduct #sec1{
    width: 100vw;
    height: 45.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.catProduct #sec1 .one {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    position: relative;
 
}

.catProduct #sec1 .one header{
    width: 80%;
    height: 15%;
    display: grid;
    grid-template-columns:1fr 6fr;

}
.catProduct #sec1 .one header nav{
width: 100%;
height: 100%;
}
.catProduct #sec1 .one header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
   
    margin-top: -0.8rem;
}
.catProduct #sec1 .one header nav ul li{
    list-style-type: none;
    padding-left: 2rem;
}
.catProduct #sec1 .one header nav ul li a{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Anjoman';
    color: var(--homeText);
    line-height: 25.1px;
}
.catProduct #sec1 .one header .logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}
.catProduct #sec1 .one .sliderContainer{
    width: 100%;
    height: 620px;
}
.catProduct #sec1 .one .sliderContainer .swiper {
    width: 100%;
    height: 100%;
  }

  .catProduct #sec1 .one .sliderContainer .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .catProduct #sec1 .one .sliderContainer .swiper-slide >img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .catProduct #sec1 .one .sliderContainer .swiper-slide .row1{
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, transparent 0%,  #222226 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .catProduct #sec1 .one .sliderContainer .swiper-slide .row1 img{
    width: 150px;
    height: 185px;
 }
 .swiper-pagination-bullet{
       width: 18px !important;
       height: 18px  !important;
       background-color:var(--homeafter)  !important;
       border-radius:29px ;
       
}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: var(--white);
   font-size: 2rem !important;
}

/*------------------------------ cat product page sec 2----------------------------------- */
.catProduct #sec2{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 8rem;
   
}
.catProduct #sec2 .two{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.catProduct #sec2 .two .row1
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catProduct #sec2 .two .row1 h2{
   margin: 0;
   font-size: 28px;
   font-weight: 700;
   line-height: 46.87px;
   font-family: anjoman , 'anjoman';
 
   position: relative;
}
.catProduct #sec2 .two .row1 h2::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 104px;
    bottom: -160%;
    transform: rotate(90deg);
    right: 48%;
    border-radius: 3px;
    background-color: var(--homeafter);
    -webkit-border-radius: 3px;
    top: 0;
}
.catProduct #sec2 .two .row2{
    width: 100%;
    height: 100%;
    display: flex;

}
.catProduct #sec2 .two .row2 .products{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
 
  margin-top: 4rem;
}
.catProduct #sec2 .two .row2 .products .productBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}
.catProduct #sec2 .two .row2 .products .productBox .productImage{
   width: 100%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
   object-fit: contain;
}
.catProduct #sec2 .two .row2 .products .productBox .productImage img{
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}
.catProduct #sec2 .two .row2 .products .productBox .productName{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catProduct #sec2 .two .row2 .products .productBox .productName p{
    font-size: 20px;
    color: var(--homeText);
    font-weight: 600;
}

/*------------------------------ cat product page sec3 footer----------------------------------- */
.catProduct #sec3{

} 
.catProduct #sec3{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
}
.catProduct #sec3 .footer{
    width: 100%;
    height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 3fr 1fr;
   gap: 15px;


}
.catProduct #sec3 .footer .row1{
    width: 80%;
height: 100%;
    display: grid;
    grid-template-columns:1fr 3fr 3fr 1fr ;
    grid-template-rows: auto;
    justify-self: center;

}
.catProduct #sec3 .footer .row2{
    width: 90%;
  
}
.catProduct #sec3 .footer .row1 .col1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.catProduct #sec3 .footer .row1 .col1 .logo{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    margin-top: 2rem;
    border-left: 1px solid var(--white);
}
.catProduct #sec3 .footer .row1 .col2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}
.catProduct #sec3 .footer .row1 .col2 ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10%;
    align-items: flex-end;
}
.catProduct #sec3 .footer .row1 .col2 ul li{
    list-style-type: none;
    padding: 0 3%;
}
.catProduct #sec3 .footer .row1 .col2 ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.catProduct #sec3 .footer .row1 .col3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.catProduct #sec3 .footer .row1 .col3 .contactAdress{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: column;
}
.catProduct #sec3 .footer .row1 .col3 .contactAdress p{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    width: 100%;
    margin: 0;
    padding-top: 1%;
   
}
.catProduct #sec3 .footer .row1 .col3 .contactPhone{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    transform:translateY(-18%) ;
    -webkit-transform:translateY(-18%) ;
    -moz-transform:translateY(-18%) ;
    -ms-transform:translateY(-18%) ;
    -o-transform:translateY(-18%) ;
}
.catProduct #sec3 .footer .row1 .col3 .contactPhone span:nth-child(1){
    width: 7%;
}
.catProduct #sec3 .footer .row1 .col3 .contactPhone a{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}
.catProduct #sec3 .footer .row1 .col3 .contactPhone span:nth-child(2){
    width: 10px;
    height: 1px;
    background-color: var(--white);
}
.catProduct #sec3 .footer .row1 .col4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
}
.catProduct #sec3 .footer .row1 .col4 .socials{
    margin-bottom: 16%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.catProduct #sec3 .footer .row1 .col4 .socials img{
    margin: 25% 0;
}
.catProduct #sec3 .footer .row2{
    width: 90%;
    height: 100%;
    justify-self: center;
    display: flex;
    border-top: 1px solid var(--white);
    justify-content: center;
    align-items: center;
}
.catProduct #sec3 .footer .row2 .col1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.catProduct #sec3 .footer .row2 .col1 p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}
.catProduct #sec3 .footer .row2 .col2 p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}
.catProduct #sec3 .footer .row2 .col2{
    width: 50%;
    display: flex;
    transform: translateX(13%);
    justify-content: flex-end;
    -webkit-transform: translateX(13%);
    -moz-transform: translateX(13%);
    -ms-transform: translateX(13%);
    -o-transform: translateX(13%);
}